header {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
}




#navi {
    font-size: 35px;
    background-color: rgb(173, 118, 36);
    border-radius: 20px;
    padding: 20px;
    margin-left: 100px;
}
#nav2 {
    font-size: 35px;
    background-color: rgb(173, 118, 36);
    border-radius: 20px;
    padding: 20px;
    margin-left: 230px;
}
#nav3 {
    font-size: 35px;
    background-color: rgb(173, 118, 36);
    border-radius: 20px;
    padding: 20px;
    margin-left: 200px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    padding: 60px;
    background-color: #222247;
}
      

.content {
    padding: 20px;
    color: white;
}

#lgname {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    color: rgb(163, 141, 18);
    font-weight: bolder;
    padding: 70px;
    background-color: black;
    border-radius: 20px;
    padding: 25px;
}
#logo {
    background-color: black;
    border-radius: 27px;
    width: 400px;
    height: 300px;
    margin-left: 350px;
    margin-bottom: 0;
    margin-top: 120px;
}
mv_img {
    width: 150px;
    height: 100px;
}
.moving-pictures {

    display: flex;
    justify-content: space-between;
    animation: movePictures 8s forwards;
}
    @keyframes movePictures {
        0% {
            transform: translateX(0);
        }
        33% {
            transform: translateX(-100%);
        }
        66% {
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(0);
        }
}
.moving-pictures img {
    width: 480px; 
    height: 300px;
    justify-content: space-around;
}
aside {
    background-color: black;
    border-radius: 30px;
    padding: 20px;
}
footer {
    background-color: rgb(5, 53, 53);
    border-radius: 15px;
    box-shadow: #222247;
    align-items: center;
    padding: 20px;
}
:hover a {
    color: rgb(104, 8, 8)
    
}
#hist {
    background-color: black;
    border-radius: 20px;
    padding: 20px;
}


