header {
   background-color: rgb(8, 8, 104);
}

.header-content { 
    padding: 20px;
}

#navi {
    font-size: 35px;
    background-color: rgb(173, 118, 36);
    border-radius: 20px;
    padding: 20px;
    margin-left: 100px;
}
#nav2 {
    font-size: 35px;
    background-color: rgb(173, 118, 36);
    border-radius: 20px;
    padding: 20px;
    margin-left: 230px;
}
#nav3 {
    font-size: 35px;
    background-color: rgb(173, 118, 36);
    border-radius: 20px;
    padding: 20px;
    margin-left: 200px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    padding: 60px;
    background-color: #222247;
}
      

.content {
    padding: 20px;
    color: white;
}

#lgname {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: rgb(163, 141, 18);
    font-weight: bolder;
    align-self: center;
    padding: 20px;
}
#logo {
    
    width: 100px;
    height: 100px;
}
mv_img {
    width: 150px;
    height: 100px;
}
.moving-pictures {

    display: flex;
    justify-content: space-between;
    animation: movePictures 8s forwards;
}
    @keyframes movePictures {
        0% {
            transform: translateX(0);
        }
        33% {
            transform: translateX(-100%);
        }
        66% {
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(0);
        }
}
.moving-pictures img {
    width: 400px; 
    height: 300px;
}
footer {
    background-color: rgb(5, 53, 53);
    align-items: center;
    padding: 20px;
}
:hover a {
    color: green;
    
}


